<footer style="width: 100%;">
    <br><br>
    <div class="f-info">
        <div class="f-info-socials">
            <form action="/socialmediapage" class="social-form">
                <button class="social"><i class="fa-brands fa-square-instagram social-icon"></i></button>
            </form>
            <form action="/socialmediapage" class="social-form">
                <button class="social"><i class="fa-brands fa-square-facebook social-icon"></i></button>
            </form>
            <form action="/socialmediapage" class="social-form">
                <button class="social"><i class="fa-brands fa-square-x-twitter social-icon"></i></button>
            </form>
        </div>
        <div>
            <i class="fa-regular fa-copyright"></i> WanderLust Private Ltd.
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>&nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>