<% layout("/layouts/boilerplateOthers") -%>

<h1>Terms of Service</h1>
<br>
<p>By using our website, you agree to the following terms:</p>
<ul>
    <li>
        <h4>Usage Rules</h4>
        <p>You must use our site in a lawful manner and refrain from malicious activities.</p>
    </li>
    <li>
        <h4>Intellectual Property</h4>
        <p>All content on this site belongs to us and cannot be reproduced without permission.</p>
    </li>
</ul>
<h2>Disclaimer</h2>
<p>We are not responsible for errors or issues arising from the use of this site.</p>
